
.login_page{

    display: flex;
    align-items: center;
    
    .left{
        width: 50%;
        min-height: 100vh;
        background-color: #11698e;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >*{
            margin: 10px 0;
        }
    }

    .right{
        width: 50%;
        min-height: 100vh;
        background-color: #f8f1f1;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        >*{
            margin: 10px 0;
        }
    }

}