$primaryColor: #0e49b5;
$secondaryColor: #f8f1f1;
$slideAnimationTime: 0.7s;
$slideAnimationScale: 1.02;

$slideSkew: 7deg;

@mixin skew($side){
    @if $side == right {
        margin-left:5%;
    }

    position: relative;
    background-color: $primaryColor;

    padding: 0 5%;

    z-index: 999;
    
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
        background: $primaryColor;
        transform-origin: bottom left;

        @if $side == right {
            transform: skew($slideSkew, 0deg);
        }
        @else if $side == left {
            transform: skew(-$slideSkew, 0deg);
        }
    }
}

.container{
    display: flex;

    &__content{
        &--hidden{
            opacity: 0; 
        }

        &--shown{
            opacity: 1; 
        }

        &--initail{
            animation-duration: 0s !important;
        }

        &--absolute{
            position: absolute;
        }

        transition: opacity 1s;
        background-color: $secondaryColor;

        width: 50%;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >*{
            margin: 10px 0 !important;
        }
    }  

    &__skew{
        &--right{
            @include skew('right');
        }

        &--left{
            @include skew('left');
        }
    }

    &__slide{
        &--right{
            animation: slide_right $slideAnimationTime ease-in 1 forwards;
            @keyframes slide_right {
                0% {transform: translate(0px, 0px)}
                70% {transform: translate(calc(100%), 0px)}
                85% {transform: translate(calc(100%), 0px) scale3d($slideAnimationScale, 1, 1)}
                100%{transform: translate(calc(100%), 0px) scale3d(1, 1, 1)}
            }
        }

        &--left{
            animation: slide_left $slideAnimationTime ease-in 1 forwards; //$slideAnimationTime
            @keyframes slide_left {
                0% {transform: translate(calc(100%), 0px)}
                70% {transform: translate(0px, 0px)}
                85% {transform: scale3d($slideAnimationScale, 1, 1)}
                100%{transform: scale3d(1, 1, 1)}
            }
        }
    }
}